@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
h1, h2 {
	font-family: "Jersey 15", sans-serif; 
}
body {
	font-family: "Times New Roman", sans-serif;
}
th, td, table {
	border: 2px solid;
	border-collapse: collapse;
	font-family: "Times New Roman", sans-serif;
	text-align: center;
}

