#imageA {
	width= 100px;
        height=150px;
	object-position: center top;
	border: 5px solid;
	filter: grayscale(80%);
}
#imageB {
	min-width: 60%;
	min-height: 60%;
	max-width: 70%;
  	max-height: 70%;
	object-fit: contain;
	border-radius: 30px;
	box-shadow: 20px 25px 30px rgba(0, 0, 0, 0.5);
	filter: hue-rotate(90deg);
}
#imageC {
	width= 100px;
        height=150px;
	z-index: 1;
	position: static;
	opacity: 50%;	
}  
#imageD {
	width= 100px;
        height=150px;
	z-index: 2;
	position: static;

}

