#imageA {
	width="200";
        height="250";
	object-position: center top;
	border: 2px solid;
	filter: grayscale(50%);
}
#imageB {
	min-width: 80%;
	min-height: 80%;
	max-width: 120%;
  	max-height: 120%;
	object-fit: contain;
	border-radius: 20px;
	box-shadow: 10px rgba(0, 0, 0, 0.5);
	filter: hue-rotate(90deg);
}
#imageC {
        
}  
#imageD {

}

