hr {
	width: 99%;
	border: 1px solid black;
}
p, ul, li{
	font-family: "Times New Roman", serif;
	margin: auto 0;
}
img, video{ 
	width: 95%; 
	display: block;
	margin: 5px auto;
	border: 2px solid black;
}

